.DS_Store

# NPM
node_modules/

# Dev
dev/
dev_firefox/
dev_safari/

# Prod
dist/
dist_firefox/
dist_safari/
builds/
changelogs/
assets/shared

# Playwright
test-results/
playwright-report/

# Xcode
*.xcuserstate
*.xcuserdatad

.context
.cursorrules
.env
context/
